<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-R/oa7KS0iDoHwdh4Gyl3/fU7pgvSCt7oyuQ79pkw+e+bMWD9dzJJa+Zqd+XJS0AD" crossorigin="anonymous">
    <link rel="stylesheet" href="oldstyle.css">
    <title>Document</title>
</head>

<body class="pagebody">
    <div id="app">

        <nav class="navbar navbar-light" style="background-color: #48adf5;">
            <span class=" navbar-brand mb-0 h1">KANBAN</span>
            <button v-if="loginStatus" v-on:click="logout" type="button" class="btn btn-primary">Logout</button>
        </nav>


        <div id="registerdiv" v-if="!loginStatus">
            <h4>Register</h4>
            <form @submit.prevent='register'>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" v-model="regEmail">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="regPassword">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div id="logindiv" v-if="!loginStatus">
            <h4>Log In</h4>
            <form @submit.prevent='login'>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" v-model="loginEmail">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="loginPassword">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>




        <div id="content" v-if="loginStatus">
            <div class="card">
                <h5 class="card-header">Backlog</h5>
                <div v-for="task in tasks.backlog" class="card-body">

                    <div class='tasks'>
                        <h6 class='tasktitle'>
                            {{task.title}}
                        </h6>
                        <p class="taskuser">By: {{task.User.email}} <br> {{task.updatedAt}}</p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Edit
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <form>
                                <div class="form-group">
                                    <input v-model="editB" type="text" class="form-control" value="Test">
                                    <!-- place holder ngambil data gimana -->
                                    <!-- masing masing harus bikin vmodel sendiri???-->
                                </div>
                                <button v-on:click="edit(task.id)" type="button" class="btn btn-primary"
                                    data-toggle="collapse" data-target="#collapseExample">Edit</button>
                            </form>
                        </div>
                        <button v-on:click="deleteTask(task.id)" class="btn btn-primary">Delete</button>
                    </div>

                </div>
                <!-- add task form -->

                <div class="accordion" id="accordionBacklog">
                    <button class="btn btn-primary addtask" type="button" data-toggle="collapse"
                        data-target="#collapseBacklog" aria-expanded="true" aria-controls="collapseBacklog">
                        + Add Task
                    </button>

                    <div id="collapseBacklog" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionBacklog">
                        <form>
                            <div class="form-group">
                                <label style="color: antiquewhite; padding: 5px;">Task</label>
                                <input v-model="addBacklog" type="text" class="form-control">
                            </div>
                            <button v-on:click="addtask('backlog')" type="button" class="btn btn-primary"
                                data-toggle="collapse" data-target="#collapseBacklog">Add</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Todo</h5>
                <div v-for="task in tasks.todo" class="card-body">

                    <div class='tasks'>
                        <h6 class='tasktitle'>
                            {{task.title}}
                        </h6>
                        <p class="taskuser">By: {{task.User.email}} <br> {{task.updatedAt}}</p>
                    </div>

                </div>
                <!-- add task form -->
                <div class="accordion" id="accordionTodo">
                    <button class="btn btn-primary addtask" type="button" data-toggle="collapse"
                        data-target="#collapseTodo" aria-expanded="true" aria-controls="collapseTodo">
                        + Add Task
                    </button>

                    <div id="collapseTodo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTodo">
                        <form>
                            <div class="form-group">
                                <label style="color: antiquewhite; padding: 5px;">Task</label>
                                <input v-model="addTodo" type="text" class="form-control">
                            </div>
                            <button v-on:click="addtask('todo')" type="button" class="btn btn-primary"
                                data-toggle="collapse" data-target="#collapseTodo">Add</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="card">
                <h5 class="card-header">Done</h5>
                <div v-for="task in tasks.done" class="card-body">

                    <div class='tasks'>
                        <h6 class='tasktitle'>
                            {{task.title}}
                        </h6>
                        <p class="taskuser">By: {{task.User.email}} <br> {{task.updatedAt}}</p>
                    </div>

                </div>
                <!-- add task form -->
                <div class="accordion" id="accordionDone">
                    <button class="btn btn-primary addtask" type="button" data-toggle="collapse"
                        data-target="#collapseDone" aria-expanded="true" aria-controls="collapseDone">
                        + Add Task
                    </button>

                    <div id="collapseDone" class="collapse" aria-labelledby="headingOne" data-parent="#accordionDone">
                        <form>
                            <div class="form-group">
                                <label style="color: antiquewhite; padding: 5px;">Task</label>
                                <input v-model="addDone" type="text" class="form-control">
                            </div>
                            <button v-on:click="addtask('done')" type="button" class="btn btn-primary"
                                data-toggle="collapse" data-target="#collapseDone">Add</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="card">
                <h5 class="card-header">Completed</h5>
                <div v-for="task in tasks.completed" class="card-body">
                    <div class='tasks'>
                        <h6 class='tasktitle'>
                            {{task.title}}
                        </h6>
                        <p class="taskuser">By: {{task.User.email}} <br> {{task.updatedAt}}</p>
                    </div>
                    <!-- <div class='tasks'>  KENAPA MARGIN BEDA?
                        <h6 class='tasktitle'>
                            {{task.title}}
                        </h6>
                        <p class="taskuser">By: {{task.User.email}} <br> {{task.updatedAt}}</p>
                    </div> -->
                </div>
                <!-- add task form -->
                <div class="accordion" id="accordionCompleted">
                    <button class="btn btn-primary addtask" type="button" data-toggle="collapse"
                        data-target="#collapseCompleted" aria-expanded="true" aria-controls="collapseCompleted">
                        + Add Task
                    </button>

                    <div id="collapseCompleted" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionCompleted">
                        <form>
                            <div class="form-group">
                                <label style="color: antiquewhite; padding: 5px;">Task</label>
                                <input v-model="addCompleted" type="text" class="form-control">
                            </div>
                            <button v-on:click="addtask('completed')" type="button" class="btn btn-primary"
                                data-toggle="collapse" data-target="#collapseCompleted">Add</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <!-- <p>Original message: "{{ message }}"</p>
            <p>Original message: "{{ tasks }}"</p> -->
            <!-- <p>Computed reversed message: "{{ reversedMessage }}"</p> -->
        </div>

    </div>





    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello',
                loginStatus: null,
                loginEmail: null,
                loginPassword: null,
                regEmail: null,
                regPassword: null,
                addBacklog: null,
                addTodo: null,
                addDone: null,
                addCompleted: null,
                tasks: {},
                filtered: null
            },
            created() {
                if (localStorage.access_token) {
                    this.getTask()
                    this.loginStatus = true
                } else {
                    this.loginStatus = null
                }
            },
            computed: {
                // CARA PAKAI COMPUTED GIMANA?
                // filtered: function () {
                //     let backlog = []
                //     let todo = []
                //     let done = []
                //     let completed = []
                //     for (let i in this.tasks) {
                //         if (this.tasks[i].category == 'backlog') {
                //             backlog.push(this.tasks[i])
                //         }
                //         if (this.tasks[i].category == 'todo') {
                //             todo.push(this.tasks[i])
                //         }
                //         if (this.tasks[i].category == 'done') {
                //             done.push(this.tasks[i])
                //         }
                //         if (this.tasks[i].category == 'completed') {
                //             completed.push(this.tasks[i])
                //         }
                //     }
                //     return { backlog, todo, done, completed }
                // }
            },
            methods: {
                getTask: function () {

                    axios({
                        url: 'http://localhost:3000/task',
                        method: 'GET',
                        headers: { access_token: localStorage.access_token }
                    }).then(res => {
                        console.log(res.data)
                        let alltasks = res.data.task
                        let backlog = []
                        let todo = []
                        let done = []
                        let completed = []
                        for (let i in alltasks) {
                            if (alltasks[i].category == 'backlog') {
                                backlog.push(alltasks[i])
                            }
                            if (alltasks[i].category == 'todo') {
                                todo.push(alltasks[i])
                            }
                            if (alltasks[i].category == 'done') {
                                done.push(alltasks[i])
                            }
                            if (alltasks[i].category == 'completed') {
                                completed.push(alltasks[i])
                            }
                        }
                        this.tasks = { backlog, todo, done, completed }
                        console.log('test', this.tasks)
                    }).catch(err => {
                        console.log(err)
                        this.message = err
                    })

                },
                login: function () {
                    console.log(this.loginEmail, this.loginPassword)
                    axios({
                        url: 'http://localhost:3000/login',
                        method: 'POST',
                        data: {
                            email: this.loginEmail,
                            password: this.loginPassword
                        }
                    }).then(res => {
                        localStorage.setItem("access_token", res.data.access_token)
                        this.loginStatus = true
                        this.loginEmail = null
                        this.loginPassword = null
                    }).catch(err => {
                        console.log('err this massage', err)
                        console.log(err.response.data.msg)
                        //this.message = err
                    })

                },
                register: function () {
                    console.log(this.regEmail, this.regPassword)
                    axios({
                        url: 'http://localhost:3000/register',
                        method: 'POST',
                        data: {
                            email: this.regEmail,
                            password: this.regPassword
                        }
                    }).then(res => {
                        localStorage.setItem("access_token", res.data.access_token)
                        this.loginStatus = true
                        this.regEmail = null
                        this.regPassword = null
                    }).catch(err => {
                        console.log(err.msg, err)
                        this.message = err
                    })

                },
                logout: function () {
                    localStorage.removeItem("access_token")
                    this.loginStatus = null
                },
                addtask: function (category) {
                    let title
                    switch (category) {
                        case 'backlog':
                            title = this.addBacklog
                            this.addBacklog = null
                            break;
                        case 'todo':
                            title = this.addTodo
                            this.addTodo = null
                            break;
                        case 'done':
                            title = this.addDone
                            this.addDone = title
                            break;
                        case 'completed':
                            title = this.addCompleted
                            this.addCompleted = null
                            break;
                        default:
                        // code block
                    }
                    console.log(category, title)
                    axios({
                        url: 'http://localhost:3000/task/',
                        method: 'POST',
                        data: {
                            category,
                            title
                        },
                        headers: { access_token: localStorage.access_token }
                    }).then(res => {
                        this.getTask()
                        console.log('suc', res)
                    }).catch(err => {
                        console.log('err', err)
                    })

                },
                deleteTask: function (id) {
                    console.log('test', id)
                    axios({
                        url: `http://localhost:3000/task/${id}`,
                        method: 'DELETE',
                        headers: { access_token: localStorage.access_token }
                    }).then(res => {
                        this.getTask()
                        console.log('suc', res)
                    }).catch(err => {
                        console.log('err', err)
                    })

                }
            }
        })
    </script>

</body>


</html>